<h1>Show Address</h1>

<ul>

  <li>
    <strong>Nazwa:</strong>
    <%= @address.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @address.email %>
  </li>

</ul>

<span><%= link "Edytuj", to: Routes.address_path(@conn, :edit, @address) %></span> |
<span><%= link "Wróć", to: Routes.address_path(@conn, :index) %></span>
